body {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #faf8f6;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: left;
  padding: 1px 15px; }
  body#answers {
    background: url(../images/Layer1.png);
    font-family: "Lato", sans-serif;
    background-color: #faf8f6;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; }
  body#forwho {
    background: url(../images/Layer2.png);
    font-family: "Lato", sans-serif;
    background-color: #faf8f6;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; }
  body#team {
    background: url(../images/Layer3.png);
    font-family: "Lato", sans-serif;
    background-color: #faf8f6;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; }
  body#presentation {
    background: url(../images/Layer1.png);
    font-family: "Lato", sans-serif;
    background-color: #faf8f6;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; }

.Logo {
  /* The image used */
  float: left; }

.logoimg {
  max-width: 90%;
  min-width: 20%;
  height: auto; }

nav a {
  text-decoration: none; }
nav ul {
  margin: 0;
  padding: 0;
  float: right; }
nav li {
  list-style-position: inside;
  font: 14px 'Oswald', sans-serif;
  padding: 10px; }

.top-menu li {
  display: inline-block;
  padding: 10px 30px;
  margin: 0; }
  .top-menu li:last-child {
    background: #ff3d00;
    color: #fff; }
    .top-menu li:last-child a {
      color: #fff; }
  .top-menu li:hover a {
    border-bottom: 3px solid #ff3d00; }
.top-menu .active a {
  border-bottom: 3px solid #ff3d00; }
.top-menu a {
  color: #2f3132;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.mainlogo {
  margin-top: 200px;
  text-align: center; }

.content {
  margin-top: 200px;
  margin-left: 35px; }
  .content h1 {
    margin-top: -15px;
    font-size: 1.5vw; }
  .content span {
    color: #e9e8e6;
    font-size: 5.5vw;
    font-family: arsenal, sans-serif;
    padding-bottom: 1.5%;
    border-bottom: 5px solid #ff3d00; }

footer {
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0; }

.responsive {
  width: 95%;
  height: auto; 
  cursor:pointer }

/* Bottomnav Bar for Javascript styles */

.bottomnav {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
    
}

.bottomnav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: inline-block;
    transition: 0.3s;
}

.bottomnav a:hover {
    color: #ff3d00;
}

.bottomnav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .bottomnav {padding-top: 15px;}
  .bottomnav a {font-size: 18px;}
}


/*# sourceMappingURL=site.css.map */
